body {
background: #ff3a85;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: #f0d2fe;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #883a85;
}
.assign img {
width: 200px;
padding: 100px;
}
